body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #282c34;
}

.container{
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    margin: 0 auto;
    width: 250px;
    text-align: center;
    border: 10px solid black;
}

.keypad{
    
}